#################################
# General
#################################
.env
.env.*
*.log
.DS_Store
Thumbs.db

#################################
# Node / React
#################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#################################
# Build Output
#################################
build/
dist/

#################################
# IDE
#################################
.vscode/
.idea/
*.swp
*.swo

#################################
# OS / System
#################################
.cache/
.temp/